/* Main Section */
#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url('./img/freedom.jpg') center/cover no-repeat border-box, #ff1b68;
  width: 100%;
  height: 33vh;
  position: relative;
}
#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
  position: absolute;
  left: 3%;
  bottom: 5%;
  font-size: 1.6rem;
}
@media (min-width: 40rem) and (min-height: 40rem) {
  #product-overview {
    height: 40vh;
    background-position: 50% 25%;
  }
  #product-overview h1 {
    font-size: 3rem;
  }
}
/* Plans Section */
.section-title {
  text-align: center;
  color: #2ddf5c;
}
.plan {
  margin: 0.5rem 0;
  padding: 1rem;
  text-align: center;
  background-color: #d5ffdc;
}
.plan--highlighted {
  background: #19b84c;
  color: white;
}
.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}
.plan__title {
  color: #0e4f1f;
}
.plan__price {
  color: #858585;
}
.plan--highlighted .plan__title {
  color: white;
}
.plan--highlighted .plan__price {
  color: #505050;
}
.plan__features {
  list-style: none;
  padding: 0;
  margin: 0;
}
.plan__feature {
  margin-bottom: 0.62rem;
}
@media (min-width: 40rem) {
  #plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .plans_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .plans_list article:first-of-type {
    margin-left: 0;
  }
  .plans_list article:last-of-type {
    margin-right: 0;
  }
  .plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.25rem;
    width: 33.3333%;
    height: 28rem;
    min-width: 13rem;
    max-width: 22rem;
  }
  .plan h1,
  .plan h2,
  .plan h3 {
    margin: 0.5rem 0;
  }
  .plan--highlighted {
    height: 32rem;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.5);
  }
}
/* Key Features */
#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 2rem;
}
#key-features .section-title {
  color: white;
  margin-top: 2.5rem;
}
.key-features__list {
  margin: 0;
  padding: 0;
  width: 100%;
}
.key-feature {
  list-style: none;
  text-align: center;
}
.key-feature__image {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid #0e4f1f;
  background: #fa8dba;
  margin: auto;
  padding: 20px;
}
.key-feature__description {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}
@media (min-width: 40rem) {
  #key-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .key-features__list {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: top;
  }
  .key-feature {
    width: 33.3333%;
    vertical-align: top;
  }
}
/* Modal */
.modal {
  position: fixed;
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity 0.5s ease-out, transform 500ms ease-out;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}
.modal__actions {
  text-align: center;
}
.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}
.modal__action--negative {
  background: red;
  border-color: red;
}
.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
